{% extends 'base_plus_menu_1a(active_dashboard).html' %}

{% block main_content %}

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row">
            <h2 class="tm-text-primary mb-5 col-lg-4 col-md-4 col-sm-12">Info about
                <strong>'{{ album.title }}</strong>' <br>
                by <strong><a href="{% url 'artist-discography' album.artist_id %}">{{ album.artist }}</a> </strong>
            </h2>

            {# Check if user is authenticated#}
            {% if request.user.is_authenticated %}

                {# Check if user has it in their collection, if not, show Save button... #}
                {% if not liked_by_current_user %}
                    <h4 class="tm-text-primary mb-5 m-auto col-lg-3 col-md-4 col-sm-6 btn-primary"
                        style="text-align: center">
                        <a href="{% url 'save_shared_album' album.wiki_id %}" style="color: white; ">Save to your
                            Favourites</a>
                    </h4>

                    {# ... But if album liked, show delete button#}
                {% else %}
                     <h4 class="tm-text-primary mb-5 m-auto col-lg-3 col-md-4 col-sm-6 btn-primary"
                        style="text-align: center">
                        <a href="{% url 'unlike_album' album_to_unlike_pk %}" style="color: white; ">Delete from your
                            Favourites</a>
                    </h4>

                {% endif %}
            {% endif %}

            <h4 class="tm-text-primary mb-5 m-auto col-lg-3 col-md-4 col-sm-6 btn-primary" style="text-align: center">
                <a href="{{ album.wiki_url }}" style="color: white; ">Read more on
                    Wikipedia</a></h4>
        </div>  <!-- row -->

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <img class="img-thumbnail" src="{{ album.album_cover }}" style="width: 530px; height: auto;"
                     alt="front cover of {{ album.title }} by {{ album.artist }}">
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12">
                <p class="tm-text-primary mb-5" style="bottom: 0; left: 0;">{{ album.summary }}</p>
            </div>
        </div>  <!-- row -->

        {% if user.is_authenticated %}
            {#            Show comments - LEFT and users who shared the album - RIGHT #}

            {#            COMMENTS#}
            <div class="row mt-4">
            <div class="col-lg-6 col-md-6 col-sm-12">

                {% if not album.comment_set.all %}
                    <h2 class="tm-text-primary mb-5">Comments:</h2> No comments posted yet

                {% else %}
                    <h2 class="tm-text-primary mb-5">Comments:&nbsp;{{ album.comment_set.all.count }}</h2>
                    {% for comment in album.comment_set.all %}
                        <div style="background-color: white">

                            <h2 class="tm-text-primary mb-2">
                                <i class="fa-solid fa-circle-plus"></i>
                                <a href="{% url 'profile_details' comment.user.pk %}">
                                    Comment by {{ comment.user.username }}</a>
                                <span class="tm-text-primary mb-2" style="font-size: .7em">
                                    created on {{ comment.created }}
                                </span>
                            </h2>
                            <p class=" tm-text-primary mb-4"
                               style="color: black;padding-left:
                                2.8em"> {{ comment.body }} </p>
                        </div>
                    {% endfor %}
                {% endif %}

                <form id="contact-form" action="{% url 'post_comment' album.wiki_id %}" method="POST"
                      class="tm-contact-form mx-auto"
                      style="max-width: 100%;">
                    {% csrf_token %}
                    {{ form }}
                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </form>

            </div>  <!--col 1 -->

            {#            SHARED BY#}
            <div class="col-lg-5 col-md-5 col-sm-12 ml-auto">
                {% if not others_who_liked_it %}
                    <h2 class="tm-text-primary mb-5">This album
                        has been shared by you only.</h2>

                {% else %}
                    <h2 class="tm-text-primary mb-5">
                        {% if liked_by_current_user %}
                            Other users who shared this album:
                        {% else %}
                            This album has been shared by:
                        {% endif %}</h2>

                    {% for fan in others_who_liked_it %}
                        <a href="{% url 'profile_details' fan.pk %}">
                            <h2 class="tm-text-primary mb-5">
                                <i class="fa-solid fa-compact-disc"></i> {{ fan.username }}
                            </h2>
                        </a>

                    {% endfor %}
                {% endif %}

            </div>  <!--col 2 -->

        {% endif %}
        </div> <!-- row -->

    </div> <!-- container-fluid, tm-container-content -->
{% endblock %}

