{% extends 'base_plus_menu_1a(active_dashboard).html' %}

{% block main_content %}
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">

            {% if not fav_albums %}
                <h2 class="col-12 tm-text-primary mb-4" style="color: black; text-align: center">
                    Hi, {{ request.user.username }}. You have not shared any of your
                    favourite albums yet.<br>
                    To add some, fill in form below.<br>
                    Or you can see what other users have liked <a href="{% url 'index_page'%}">here</a> and possibly add an album to your own collection?</h2>

            {% else %}
                <h2 class="col-12 tm-text-primary" style="color: black; text-align: center">
                    Hi, {{ request.user.username }}. These are some your favourite
                    albums.
                    To add more, fill in form below.</h2>

                {% include "pagination.html" with page=fav_albums %}

                </div>

                {#    GALLERY#}
                <div class="row tm-mb-90 tm-gallery">
                    {% for album in fav_albums %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                            <img src="{{ album.album_cover }}"
                                 alt="cover of album {{ album.title }} by {{ album.artist }}" class="img-thumbnail"
                                 style="width: 350px; height: 350px">
                            <h4 class="col-6 tm-text-primary"
                                style="text-transform:capitalize;">
                                <a href="{% url 'artist-discography' album.artist_id %}">{{ album.artist }}</a>
                            </h4>
                            <h5 class="col-6 tm-text-primary"
                                style="text-transform:capitalize;">  {{ album.title }} </h5>
                            <h5 class="col-6 tm-text-primary" style="text-transform:capitalize;"> Liked
                                by {{ album.shared_by.count|add:"-1" }} other
                                user{{ album.shared_by.count|add:"-1"|pluralize }}</h5>
                            <a href="{% url 'album_details' album.pk %}">View more</a>
                        </div>
                    {% endfor %}
                </div>
                </div> <!-- row -->

                {#                This is endif for verification if user has any albums added at all#}
            {% endif %}

    {#        FORMS#}
    <!-- Two equal columns -->
    <div class="row">
        <div class="col">
            {#OPTION 1 - ENTER artist and album names  #}
            <h2 class="tm-text-primary mb-5" style="text-align: center;">Search for an album by artist and title...</h2>
            <form id="contact-form" action="{% url 'find_album_by_title_and_artist' %}" method="POST"
                  class="tm-contact-form mx-auto">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.artist_name }}
                </div>
                <div class="form-group">
                    {{ form.album_name }}
                </div>
                <div class="form-group tm-text-right">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>

        <div class="col">
            {#OPTION 2 - ENTER wiki URL  #}
            <h2 class="tm-text-primary mb-5" style="text-align: center;">... or paste album's Wikipedia link below</h2>
            <form id="contact-form" action="{% url 'find_album_by_url' %}" method="POST"
                  class="tm-contact-form mx-auto">
                {% csrf_token %}
                <div class="form-group">
                    <input type="url" name="message" class="form-control rounded-0"
                           placeholder="Enter Wikipedia Link"
                           required=>
                </div>

                <div class="form-group tm-text-right">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>

    </div> <!-- container-fluid, tm-container-content -->


{% endblock %}


