{% extends 'base_plus_menu_1.html' %}

{% block main_content %}
    <div class="container-fluid tm-container-content tm-mt-60">

        {% if not request.user.is_authenticated %}
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <p class="col-12 tm-text-primary" style="color: #001421">
                        Phonotheque is a basic student project created by using Django web framework. It is intended to
                        combine social media, online forum, data scraping and storage features. All these are
                        implemented at a very rudimentary level and Phonotheque should not be seen as anything but an
                        experiment. At the same time, the potential for expanding it by adding new services and
                        components, improving its design, security and functionalities is virtually unlimited.
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <p class="col-12 tm-text-primary" style="color: #001421">
                        In brief: After successful registration and logging in, the users are given the opportunity to
                        extend their profile by entering additional data. They can then add their favourite albums to
                        the database. To achieve this the website attempts to fetch information from Wikipedia.
                        If successful the album data will be stored in the DB and will be linked to the relevant user
                        (many-to-many relationship using intermediary model). Artists' names (one-to-many relationship)
                        will also be retrieved and stored.
                    </p>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <p class="col-12 tm-text-primary" style="color: #001421">
                        Logged in users will be able to view the profiles of other users, their shared albums
                        and, if they wish, add someone else's shared album to their own favourites. They can also post
                        comments related to album (one-to-many relationship). Inappropriate content can be disabled by
                        the admins, while the superuser will have full privileges to manipulate the DB. <br>
                        More info about the project could be found <a href="{% url 'about_page' %}">here</a>.
                    </p>
                </div>
            </div>
        {% endif %}


        <div class="row mb-4">
            <h1 class="col-12 tm-text-primary"> Phonotheque users' favourite albums</h1>

            {% include "pagination.html" with page=page_obj %}

        </div>

        {#    GALLERY#}
        <div class="row tm-mb-90 tm-gallery">
            {% for album in object_list %}

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <img src="{{ album.album_cover }}"
                         alt="cover of album {{ album.title }} by {{ album.artist }}" class="img-thumbnail"
                         style="width: 350px; height: 350px">
                    <h4 class="col-6 tm-text-primary" style="text-transform:capitalize;">
                        <a href="{% url 'artist-discography' album.artist_id %}">{{ album.artist }}</a>
                    </h4>
                    <h5 class="col-6 tm-text-primary" style="text-transform:capitalize;">  {{ album.title }} </h5>
                    <h5 class="col-6 tm-text-primary" style="text-transform:capitalize;"> Liked
                        by {{ album.shared_by.count }} user{{ album.shared_by.count|pluralize }}</h5>
                    <a href="{% url 'album_details' album.pk %}">View more</a>
                </div>
            {% endfor %}
        </div> <!-- row -->

    </div> <!-- container-fluid, tm-container-content -->

{% endblock %}


