{% extends 'base_plus_menu_2.html' %}

{#        MENU COMES HERE - Change undelined link accordingly        #}

{% block main_content %}

    <div class="container-fluid tm-mt-60">
        <!-- Two equal columns -->
        <div class="row">
            <div class="col">
                <h2 class="tm-text-primary mb-10">You have successfully logged out from your account. </h2>
                <h2 class="tm-text-primary mb-10">You can either close this tab or log in again.</h2>

            </div>
            {#            <div class="col">#}
            {#                <div class="tm-address-col">#}
            {#                    <h2 class="tm-text-primary mb-5">Our Address</h2>#}
            {##}
            {#                </div>#}
            {#            </div>#}

        </div>

    </div> <!-- container-fluid, tm-container-content -->
{% endblock %}