{% extends 'base_accounts_app.html' %}

{#        MENU COMES HERE - Change undelined link accordingly        #}

{% block main_content %}

    <div class="container-fluid tm-mt-60">
        <!-- Two equal columns -->
        <div class="row">
            <div class="col">
                <h2 class="tm-text-primary mb-5">Please, Log in to Your Account</h2>

                <form id="contact-form" action="{% url 'login_page' %}" method="POST"
                      class="tm-contact-form mx-auto">
                    {% csrf_token %}

                    {% if form.errors %}
                        {% for error in form.error_messages.values %}
                            <p class="alert-warning">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ form.as_p }}


                    {#                    <div class="form-group">#}
                    {#                        {{ form.username }}#}
                    {#                    </div>#}
                    {#                    <div class="form-group">#}
                    {#                        {{ form.password }}#}
                    {#                    </div>#}

                    {#                        !!!                    #}
                    <input type="hidden" name="next" value="{{ next }}"/>

                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </form>

            </div>
            <div class="col">
                <div class="tm-address-col">
                    <h2 class="tm-text-primary mb-5">Our Address</h2>

                </div>
            </div>

        </div>

    </div> <!-- container-fluid, tm-container-content -->
{% endblock %}