{% extends "base_plus_menu_3.html" %}
{% block title %}PHONOTEQUE - Create Account{% endblock %}
{% block main_content %}
    <div class="container-fluid tm-mt-60">
        <!-- Two equal columns -->
        <div class="row">
            <div class="col">

                <h2 class="tm-text-primary mb-5">Use the form below to create your Phonoteque account.</h2>

                <form id="contact-form" action="{% url 'register' %}" method="POST"
                      class="tm-contact-form mx-auto">
                    {% csrf_token %}

                    {% if form.errors %}
                        {% for error in form.error_messages.values %}
                            <p class="alert-warning">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {{ user_form.as_p }}

                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>


            </div>
            <div class="col">
                <div class="tm-address-col">
                    <h2 class="tm-text-primary mb-5">Our Address</h2>

                </div>
            </div>

        </div>

    </div> <!-- container-fluid, tm-container-content -->



{% endblock %}