:root {
  /* midnight-green-eagle-green is not part of the coolors palette */
  --teal: hsla(179, 80%, 27%, 1);
  --midnight-green-eagle-green: hsla(189, 65%, 16%, 1);
  --aero-blue: hsla(137, 59%, 89%, 1);
  --carmine-m-p: hsla(348, 73%, 49%, 1);
  --dark-purple: hsla(316, 44%, 20%, 1);

  --font-audiowave: "Audiowide", cursive;
  --font-bungee-shade: "Bungee Shade", cursive;
  --font-cinzel-dec: "Cinzel Decorative", cursive;
  --font-sigmar-one: "Sigmar One", cursive;
}

body {
  background: url(../img/vinyl_record.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--dark-purple);
}

a:hover {
  color: var(--carmine-m-p);
}

.container-fluid {
  max-width: 1770px;
}

.tm-container-small {
  max-width: 1050px;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: var(--teal);
  border: 0;
  border-radius: 5px;
  padding: 12px 50px 14px;
  font-size: 1.2rem;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--carmine-m-p);
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--teal);
  pointer-events: all;
  cursor: not-allowed;
}

.form-control {
  padding: 10px 20px;
  width: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 25px;
}

.navbar {
  /* background-color: hsla(137, 59%, 89%, 0.4); */
  flex-wrap: nowrap;
  /* to avoid when resized menu appears underneath logo*/
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  color: var(--dark-purple);
  /* font-family: var(--font-audiowave), cursive; */
  /* font-family: var(--font-cinzel-dec), cursive; */
  font-family: var(--font-bungee-shade), cursive;
  /* font-family: var(--font-sigmar-one), cursive; */
  font-size: 2.6rem;
}

#logo-img {
  width: 17%;
  margin-right: 2%;
}

.tm-mt-60 {
  margin-top: 60px;
}

.tm-mb-50 {
  margin-bottom: 50px;
}

.tm-mb-74 {
  margin-bottom: 74px;
}

.tm-mb-90 {
  margin-bottom: 90px;
}

.tm-text-primary {
  color: var(--teal);
}

.tm-text-secondary {
  color: #cc6699;
}

a.tm-text-primary:hover {
  color: #666666;
}

.tm-bg-gray {
  background-color: #eeeeee;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: var(--font-audiowave), cursive;
  color: var(--teal);
  border-bottom: 4px solid transparent;
  font-size: 1.2rem;
}
/*
.nav-link-1.active,
.nav-link-1:hover {
  border-color: #33ccff;
}

.nav-link-2.active,
.nav-link-2:hover {
  border-color: #ff6666;
}

.nav-link-3.active,
.nav-link-3:hover {
  border-color: #33cc66;
}

.nav-link-4.active,
.nav-link-4:hover {
  border-color: #cc66cc;
}
*/

.nav-link-1.active,
.nav-link-2.active,
.nav-link-3.active,
.nav-link-4.active {
  color: var(--dark-purple);
  border-color: var(--dark-purple);
}

.nav-link-1:hover,
.nav-link-2:hover,
.nav-link-3:hover,
.nav-link-4:hover {
  color: var(--carmine-m-p);
  border-color: var(--carmine-m-p);
}

p,
.tm-text-gray {
  color: #999;
}

.p--about--text {
  color: var(--dark-purple);
  font-size: 1.25em;
}

code {
  color: var(--carmine-m-p);
  font-weight: bold;
}

.tm-text-gray-light {
  color: #ccc;
}

.tm-text-gray-dark {
  color: #666;
}

.tm-gallery div.d-block {
  animation: show 0.5s ease;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tm-footer-links li {
  list-style: none;
  margin-bottom: 5px;
}

.tm-footer-links li a {
  color: #999999;
}

.tm-footer-links li a:hover {
  color: var(--teal);
}

.tm-social-links li {
  list-style: none;
  margin-right: 15px;
}

.tm-social-links li:last-child {
  margin-right: 0;
}

.tm-social-links li a {
  color: #999999;
  width: 44px;
  height: 44px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}

.tm-social-links li a:hover {
  color: #fff;
  background-color: var(--teal);
}

.tm-footer {
  font-size: 0.95rem;
}

.tm-footer-title {
  font-size: 1.4rem;
}

/* Contact */
.tm-contact-form {
  max-width: 420px;
}

.tm-address-col {
  max-width: 520px;
}

.tm-contacts {
  padding-left: 0;
}

.tm-contacts li {
  list-style: none;
  margin-bottom: 20px;
}

.tm-contacts li a i {
  width: 30px;
}

.tm-social {
  display: flex;
}

.tm-social li {
  list-style: none;
  margin-bottom: 20px;
  margin-right: 15px;
}

.tm-social li a i {
  width: 40px;
  height: 40px;
  color: #666666;
  background-color: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.tm-social li a:hover i {
  color: #fff;
  background-color: var(--teal);
}

.form-control,
input:-internal-autofill-selected,
select:not([multiple]) {
  color: var(--teal) !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--teal);
  opacity: 1;
  /* Firefox */
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 50px;
    right: 0px;
    background: white;
    width: 150px;
    padding: 15px;
  }

  .navbar-brand {
    font-size: 1.7rem;
  }

  .tm-container-content {
    max-width: 870px;
  }

  .tm-contact-form,
  .tm-address-col {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
  .tm-container-content {
    max-width: 420px;
  }
}

@media (max-width: 334px) {
  .tm-social-links {
    flex-wrap: wrap;
    justify-content: start !important;
  }

  .tm-social-links li {
    margin-right: 3px;
  }
}
