{% extends 'base_plus_menu_2.html' %}

{#        MENU COMES HERE - Change undelined link accordingly        #}

{% block main_content %}

    <div class="container-fluid tm-mt-60">
        <!-- Two equal columns -->
        <div class="row">
            <div class="col">
                <h2 class="tm-text-primary mb-5">Please, Log in to Your Account</h2>

                <form id="contact-form" action="{% url 'login-page' %}" method="POST"
                      class="tm-contact-form mx-auto">
                    {% csrf_token %}

                    {% if form.errors %}
                        {% for error in form.error_messages.values %}
                            <p class="alert-warning">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.as_p }}

                    <input type="hidden" name="next" value="{{ next }}"/>

                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </form>

            </div>

        </div>

    </div> <!-- container-fluid, tm-container-content -->
{% endblock %}