{% extends "base_plus_menu_3.html" %}
{% load static %}
{% block title %}Phonotheque - Edit Profile{% endblock %}
{% block main_content %}
    <div class="container-fluid tm-mt-60">

        <!-- Two equal columns -->

        {% if not request.user.is_staff or request.user == current_profile.user %}
            <h2 class="tm-text-primary mb-5">Use the form below to edit your Phonotheque profile.</h2>
        {% else %}
            <h2 class="tm-text-primary mb-5">
                Use the form below to edit the profile of {{ current_profile.user.username }}?</h2>
        {% endif %}

        <div class="row">
            <div class="col">
                <form id="contact-form" action="{% url 'profile-edit' current_profile.pk %}" method="POST"
                      class="tm-contact-form mx-auto" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% if form.errors %}
                        {% for error in form.error_messages.values %}
                            <p class="alert-warning">{{ error }}</p>
                        {% endfor %}
                    {% endif %}

                    {% if request.user.is_staff %}
                        {% if current_profile.user.is_active %}
                            <h4 class="tm-text-primary mb-5 m-auto col-lg-3 col-md-4 col-sm-6 btn-primary"
                                style="text-align: center; width: 100%; background-color: crimson;">
                                <a href="{% url 'user-deactivate-reactivate' current_profile.pk %}"
                                   style="color: white; ">De-activate Account</a>
                            </h4>

                        {% else %}
                            <h4 class="tm-text-primary mb-5 m-auto col-lg-3 col-md-4 col-sm-6 btn-primary"
                                style="text-align: center; width: 100%; background-color: darkblue;">
                                <a href="{% url 'user-deactivate-reactivate' current_profile.pk %}"
                                   style="color: white; ">Re-activate Account</a>
                            </h4>

                        {% endif %}
                    {% endif %}

                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}

                    <div class="form-group tm-text-right">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

            <div class="col">

                <h4 class="tm-text-primary mb-5 m-auto col-lg-3 col-md-4 col-sm-6 btn-primary"
                    style="text-align: center; width: 100%; ">
                    <a href="{% url 'password-change' %}" style="color: white">Click here if you wish to change your
                        password</a>
                </h4>
                {% if current_profile.photo_URL %}
                    <img src="{{ current_profile.photo_URL }}" alt="profile image{{ current_profile.user }}"
                         style="object-fit: cover; width:530px;  height:530px; box-shadow: 26px 26px lightblue">
                    <h4 class="tm-text-primary mt-5">Current profile photo</h4>

                {% else %}
                    <img src="{% static 'img/profile-anon.jpg' %}" alt="no profile image"
                         style="object-fit: cover; width:530px;  height:530px; box-shadow: 26px 26px lightblue">
                    <h4 class="tm-text-primary mt-5">No profile photo yet</h4>

                {% endif %}
            </div>

        </div>

    </div> <!-- container-fluid, tm-container-content -->



{% endblock %}