:root {
  /* midnight-green-eagle-green is not part of the coolors palette */
  --teal: hsla(179, 80%, 27%, 1);
  --midnight-green-eagle-green: hsla(189, 65%, 16%, 1);
  --aero-blue: hsla(137, 59%, 89%, 1);
  --carmine-m-p: hsla(348, 73%, 49%, 1);
  --dark-purple: hsla(316, 44%, 20%, 1);

  --font-audiowave: "Audiowide", cursive;
  --font-bungee-shade: "Bungee Shade", cursive;
  --font-cinzel-dec: "Cinzel Decorative", cursive;
  --font-sigmar-one: "Sigmar One", cursive;
}

body {
  background: url(../img/vinyl_record.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--dark-purple);
}

a:hover,
.navbar-brand:focus,
.navbar-brand:hover {
  color: var(--carmine-m-p);
}

.container-fluid {
  max-width: 1770px;
}

.tm-container-small {
  max-width: 1050px;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: var(--teal);
  border: 0;
  border-radius: 5px;
  padding: 12px 50px 14px;
  font-size: 1.2rem;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--carmine-m-p);
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--teal);
  pointer-events: all;
  cursor: not-allowed;
}

.form-control {
  padding: 10px 20px;
  width: 100%;
  height: auto;
}

.form-group {
  margin-bottom: 25px;
}

.navbar {
  /* background-color: hsla(137, 59%, 89%, 0.4); */
  flex-wrap: nowrap;
  /* to avoid when resized menu appears underneath logo*/
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-brand {
  color: var(--dark-purple);
  /* font-family: var(--font-audiowave), cursive; */
  /* font-family: var(--font-cinzel-dec), cursive; */
  font-family: var(--font-bungee-shade), cursive;
  /* font-family: var(--font-sigmar-one), cursive; */
  font-size: 2.6rem;
}

#logo-img {
  width: 11%;
  margin-right: 2%;
}

.tm-mt-60 {
  margin-top: 60px;
}

.primary--text {
  color: var(--teal);
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: var(--font-audiowave), cursive;
  color: var(--teal);
  border-bottom: 4px solid transparent;
  font-size: 1.2rem;
}

.nav-link.active {
  color: var(--dark-purple);
  border-color: var(--dark-purple);
}

.nav-link:hover, 
.nav-link.active:hover{
  color: var(--carmine-m-p);
  border-color: var(--carmine-m-p);
}

.h4--about {
  font-style: italic;
  margin-top: 0;
}

.h2--about::before {
  content: " \272A";
  margin-right: 4px;
}

.h4--about::before {
  content: " \26AC";
  font-style: normal;
}

.p--about--text {
  color: var(--dark-purple);
  font-size: 1.25rem;
}

code {
  color: var(--carmine-m-p);
  font-weight: bold;
}

.tm-gallery div.d-block {
  animation: show 0.5s ease;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tm-footer-links li {
  list-style: none;
  margin-bottom: 5px;
}

.tm-footer-links li a {
  color: var(--teal);
}

.tm-footer-links li a:hover {
  color: var(--carmine-m-p);
}

.social-links li {
  list-style: none;
  margin-right: 15px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links li a {
  width: 40px;
  height: 40px;
  /* color: var(--carmine-m-p); */
  /* background-color: var(--aero-blue); */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.social-links li a i {
  font-size: 2.2rem;
  text-align: right;
}

.tm-footer {
  font-size: 0.95rem;
}

.footer--title {
  color: var(--teal);
  font-size: 1.3rem;
}

.form-control,
input:-internal-autofill-selected,
select:not([multiple]) {
  color: var(--teal) !important;
}

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--teal);
  opacity: 1;
  /* Firefox */
}

@media (max-width: 991px) {
  /* .tm-container-content {
    max-width: 870px;
  } */

  .navbar-brand {
    font-size: 1.7rem;
  }

  .nav-item {
    margin-right: 19px;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    font-family: var(--font-audiowave), cursive;
    color: var(--teal);
    border-bottom: 4px solid transparent;
    font-size: 1rem;
  }
}

@media (max-width: 1340px) {
  .p--about--text {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1.3rem;
  }

  .navbar-collapse {
    position: fixed;
    top: 50px;
    right: 0px;
    background: white;
    width: 150px;
    padding: 15px;
  }
}

@media (max-width: 575px) {
  .h2--about {
    font-size: 1.3rem;
  }

  .h4--about,
  .footer--title {
    font-size: 1rem;
  }

  .p--about--text,
  footer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 334px) {
  .social-links {
    flex-wrap: wrap;
    justify-content: start !important;
  }

  .social-links li {
    margin-right: 3px;
  }
}