{% extends 'base_plus_menu_1a(active_dashboard).html' %}

{% block main_content %}

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row">
            <h2 class="tm-text-primary mb-5">'<strong>{{ title }}</strong>' by
                <strong>{{ artist }} </strong> found!</h2>

            <div class="col">
                <img class="img-thumbnail" src="{{ cover_image }}" style="width: 620px; height: auto;"
                     alt="front cover of {{ title }} by {{ artist }}">
            </div>

            <div class="col">
                <p class="tm-text-primary mb-5" style="bottom: 0; left: 0;">{{ summary }}</p>
                <div>
                    <h3 class="tm-text-primary mb-5"> You can to save it to your favourites or search again </h3>
                    <a href="{% url 'save_artist_album' %}" class="btn btn-primary" style="width:220px">Confirm</a>
                    <a href="{% url 'dashboard' %}" class="btn btn-primary" style="width:220px">Back</a>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

