{% extends "base.html" %}

{% block site_specific_menu %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link nav-link-1" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-2 active" aria-current="page" href="videos.html">Favourites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-3  href=" about.html">Connect</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-4" href="contact.html">Profile</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h2>Albums</h2>
    <ul>
        {% for album in object_list %}
            <li>{{ album.title }}</li>
            <li>{{ album.artist }}</li>
            <li>{{ album.album_cover }}</li>
            <li>{{ album.summary }}</li>
        {% endfor %}
    </ul>
{% endblock %}